.vertical-line{
      width: 1px;
      background-color: #eee ;
      height: 100%;
      float:none;

    }
body{
  font-family: segoe UI;
}
.row{
  margin-right: 0px;
margin-left: 0px;
}
.navbar-default{
  margin-bottom: 0px;
  background-color: #fff;
  min-height: 70px;
  border:none;
}
.navbar-bwh{
  background-color: #fff;
  border: NONE;
  font-size: 13px;
  margin-bottom: 20px;
  max-height: 50px !important;
}
.search:focus{
  border: none;
}
.sign{
  font-size: 25pt;
  color:#4664af;
  padding-bottom: 25px;
}
.form-control{
  border-radius: 9px;
  border-color: #e9e9e9 !important;
}
button.btn{
    border-radius: 9px;
}
.form-group input{
  border: none;
}
ul.navbar-left li a{
  color:#777;
}
ul.navbar-left li:hover{
  background-color: none;
}
ul.navbar-left li a:hover{
  color:#4664af;

}
.user{
  display: none;
}
.no-hidden{
  display: block;
}
.a-blue{
  color:#4664af !important;
}
.a-blue:hover{
  color:#777 !important;
}
hr.header{
  margin-top: 20px;
margin-bottom: -20px;
}
.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px rgb(179, 179, 179);
     -moz-box-shadow: 0 8px 6px -6px rgb(179, 179, 179);
          box-shadow: 0 8px 6px -6px rgb(179, 179, 179);
}
